* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;

}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;

}

a {
    text-decoration: none;
    color: black;
}

p {
    color: rgb(46, 44, 44);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row.additional-row {
    justify-content: normal;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: rgb(61, 60, 60);
    color: #FFFFFF;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: all 0.5s;
}

a.payButton.btn.extra {
    display: inline-block;
    width: auto;
    margin: 20px 0px 0px 1050px;
}

.header {
    background: radial-gradient(white, rgb(87, 86, 86));
}

.header .row {
    margin-top: 70px;
}

.btn:hover {
    background: black;
    transform: scale(1.1);
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}

.col-3:hover {
    transform: translateY(-5px);
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25px;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(41, 40, 40);
}

.title::after {
    content: '';
    background: grey;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

.enlarge-img {
    transform: scale(1.2);

}

@keyframes move-bounce {
    0% {
        transform: scale(1.1);
        transition: all .5s;
    }

    50% {
        transform: scale(1);
        transition: all .5s;
    }

    100% {
        transform: scale(1.1);
        transition: all .5s;
    }
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 P {
    font-size: 10px;
}

.col-4:hover {
    transform: translateY(-5px);
}

/*-----brands-----------*/
.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

/*-------------footer-----------*/
.footer {
    background: #8a8a8a;
    color: #000;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #000;
}

.footer h3 {
    color: rgb(14, 14, 14);
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

/* --------------all products------------- */
.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid gray;
    padding: 5px;

}

.page-btn {
    margin: 0 auto 80px;

}

.page-btn span {
    display: inline-block;
    border: 1px solid gray;
    margin-left: 10px;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
}

.page-btn span:hover {
    background: gray;
    color: white;
}

.header1 {
    background: #ccc;
    padding: 70px;
}

/* -----------------cart items---------------- */

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: rgb(255, 255, 255);
    background: rgb(179, 177, 177);
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #555;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid gray;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

/* ---------------payment portal------------------------ */
.payment {
    border-radius: 20px;
    border: 5px inset;
    width: 500px;
    height: auto;
    background-color: lightgray;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 40px auto;
    padding: 10px 50px;
    /* display: none; */
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

button.payButton {
    width: 200px;
    margin: 20px 50px 0px;
}

.payTitle {
    font-size: 20px;
    color: rgb(88, 85, 85);
    margin: 25px 0px 20px;
}

label {
    font-size: 14px;
    font-weight: 300;
    display: block;
}

.payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border: 1px solid gray;
}

.payInput::placeholder {
    color: rgb(163, 163, 163);
}

.cardIcons {
    display: flex;
}

.cardIcon {
    margin-right: 10px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
}

.sm {
    width: 30%;
}

.payButton {
    position: absolute;
    height: 40px;
    bottom: -40;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    cursor: pointer;
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}

.pay {
    color: #000;
}